<section>
  <div class="container">
    <div class="form-container">
      <div class="undraw-img">
        <img src="account-registration/src/img/undraw_add_document_re_mbjx.svg">
      </div>
      <div class="cadastro">
        <div class="cadastro-title">
          <div>
            <a class="back-button" href="home">
              <img src="account-registration/src/img/icons8-divisa-circulada-à-esquerda-50.png" alt="">
            </a>
          </div>
          <div class="cadastro-text">
            <h1>Cadastro</h1>
            <p>Cadastre suas informações</p>
          </div>
        </div>
        <div class="inputs">
          <input placeholder="Nome" type="text">
          <input placeholder="Sobrenome" type="text">
          <input placeholder="Email" type="email">
          <input placeholder="Telefone" type="text">
          <input placeholder="Senha" type="password">
          <input placeholder="Repetir senha" type="password">
          <!-- <input type="submit" class="submit" value="Cadastrar">-->

        </div>
        <div class="button-cadastro">
          <a class="submit" href="login">Cadastrar</a>
        </div>
      </div>
    </div>
  </div>
</section>
