<section>
  <div class="container">
    <div class="form-container">
      <div class="undraw-img">
        <img src="account-registration/src/img/undraw_add_document_re_mbjx.svg">
      </div>
      <div class="cadastro">
        <div class="cadastro-title">
          <div>
            <a class="back-button" href="home">
              <img src="account-registration/src/img/icons8-divisa-circulada-à-esquerda-50.png" alt="">
            </a>
          </div>
          <div class="cadastro-text">
            <h1>Cadastro</h1>
            <p>Cadastre suas informações</p>
          </div>
        </div>
        <form class="inputs">
          <input required placeholder="Nome" id="name" type="text">
          <input required placeholder="Sobrenome" id="lastname" type="text">
          <input required placeholder="Email" id="email" type="email">
          <input required placeholder="Telefone" id="telephone" type="tel">
          <input required placeholder="Senha" id="password" type="password">
          <input required placeholder="Repetir senha" id="passwordConfirm" type="password">
          <input type="submit" class="submit" value="Cadastrar">

        </form>

      </div>
    </div>
  </div>
</section>
