<section>
  <div class="container">
    <div class="main">
      <div class="main-text">
        <img src="/img/icons8-divisa-circulada-à-esquerda-50.png" alt="">
        <h1>Para comprar, acesse sua conta</h1>
      </div>
      <div class="button-conta">
        <a class="sou-novo" href="../registration">Sou novo</a>
        <a class="conta" href="../login">Já tenho conta</a>
      </div>
    </div>
  </div>
</section>
