* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, --blue-caparal-light, --gray-light);
}

.form-container{
    position: relative;
    left: 20%;
    width: 60%;
    height: 100vh;
    background-color: #ffffff;
}
.contact-form{
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 600px;
}

input, textarea {
    width: 100%;
    margin-top: 2rem;
    border: none;
    border-bottom: 1px solid #000;
    resize: none;
}

.submit{
    border: 1px solid #000;
    padding: 1rem;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}
.contact-form h2{
  color: red;
}
.submit:hover{
    opacity: 0.6;
}

