.cell {
  display: flex;
  position: absolute;
  width: 250px;
  border-radius: 14px;
  border: solid 2px var(--gray-light);
  height: 450px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background: var(--gray-light);
}

.cell .logo {
  width: 80px;
  height: 30px;
}

.cell .notify {
  display: flex;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.notify::before {
  content: '';
  width: 40%;
  height: 100%;
  clip-path: circle(5% at 6% 45%);
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  margin-left: 80px;
}

.notify::after {
  content: '';
  width: 20%;
  height: 100%;
  left: 20px;
  top: 11px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  margin-left: 80px;
  clip-path: polygon(90% 0, 90% 20%, 0% 20%, 0 0%);
}

.cell .hour {
  margin-left: 15px;
  margin-top: 5px;
  color: var(--gray-dark);
  font-size: 1.3em;
  letter-spacing: 1px;
  height: 25px;
  text-decoration: none;
}

.cell .wifi {
  width: 25px;
  height: 25px;
  margin-left: 120px;
  filter: invert(100%)
}

.cell .sinal {
  margin-left: -5px;
  width: 25px;
  height: 25px;
  filter: invert(100%)
}

.cell .batery {
  margin-left: -5px;
  width: 25px;
  height: 25px;
  filter: invert(100%)
}
