<div>
  <p></p>
  <label>Filtrar por Nome</label>
  <input type="text" id="inputNome" onkeyup="filterNome()" placeholder="nome" title="Type in a name">


  <label>Filtrar por Email</label>
  <input type="text" id="inputEmail" onkeyup="filterEmail()" placeholder="email" title="Type in a name">

  <label>Filtrar por Data</label>
  <input type="date" id="inputData" onkeyup="filterData()" placeholder="" title="Type in a name">

  <label>Filtrar por Dúvida</label>
  <input type="text" id="inputDuvida" onkeyup="filterDuvida()" placeholder="trecho da duvida.." title="Type in a name">


  <div id="tabela"></div>
</div>
