body {
  background: var(--blueBackground);
  height: 100vh;
}

.filterBlur {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(50px);
  position: absolute;
  top: 0;
  background: var(--gray-light);
  z-index: -1;
}
.ball {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--purple) 5%, var(--blue-caparol) 70%);
  clip-path: circle(30vh at 10vh 30vh);
  z-index: -1;
}

.ballTwo {
  position: absolute;
  top: 10vh;
  left: 0;
  height: 90vh;
  width: 100vw;
  background: linear-gradient(var(--purple) 5%, var(--blue-caparol) 70%);
  clip-path: circle(50vh at right 70vh);
  z-index: -1;
}
