@media (max-width: 1400px) {
  .container {
    margin: 5%;
  }
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100vw;
  }

  .contact-form h2 {
    font-size: 0.9em;
  }
  .svg {
    display: none;
  }
}
