@media (max-width: 1400px) {
  .container {
    margin: 5%;
  }
}

@media (max-width: 800px) {
  /*  .buttonBack {
    display: none;
    width: 170vw;
  } */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100vw;
  }
  .svg {
    display: none;
  }
}

@media (max-width: 690px) {
  .section {
    width: 100vw;
  }
}
