#sectionCards {
  overflow: hidden;
  text-align: center;
  display: block;
  width: 100vw;
  height: 100vh;
  font-size: 0.1rem;
  z-index: 1;
  justify-content: center;
}

.ballThree {
  top: 130vh;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--purple) 5%, var(--blue-caparol) 70%);
  clip-path: circle(20vh at 10vh 30vh);
  z-index: -2;
}
