<main>
  <section id="sectionPrincipal">
    <div class="ball"></div>
    <div class="ballTwo"></div>
    <div class="filterBlur"></div>

    <div class="containerPrincipal">

      <div class="navBar">
        <a class="logo" href="/"><img src="landing-page/src/img/logos/logo_robii.png" /></a>

        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>

        <ul class="navList">
          <li><a href="#">Home</a></li>
          <li><a href="#">Project</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Technologies</a></li>
          <li><a href="#">Contact </a></li>
          <li class="login"> <a href="/">Login</a></li>
        </ul>
      </div>

      <div class="containerLeft">
        <div class="textPrincipal">
          <h1>HELLO, WELCOME</h1>
          <h1>TO THE WEBSITE OF</h1>
          <h1>ROBII PROJECT</h1>
          <p>Lorem ipsum dolor sit amet consectetur <br>
            adipiscing elit sed do eiusmod tempor <br>
            incididunt ut labore et dolore.</p>
          <div class="containerButtonPrincipal">
            <a href="form" type="button" class="buttonPrincipal1">who we are?</a>
            <a href="#" type="button" class="buttonPrincipal2">know the project!</a>
          </div>
        </div>
      </div>
      <div class="containerRight">
        <div class="cell">

          <div class="notify">
            <h2 class="hour">22:34</h2>
            <img class="wifi" src="landing-page/src/img/cell/wifi-icon.png" />
            <img class="sinal" src="landing-page/src/img/cell/sinal-chip.png" />
            <img class="batery" src="landing-page/src/img/cell/batery.png" />
            <!--  <img class="logo" src="logo_robii.png"/> -->
          </div>
        </div>
      </div>

    </div>

  </section>

</main>
