<section id="sectionCards">

  <div class="ballThree"></div>
  <div class="titleCards">
    <h1>Somos apenas jovens que querem mudar o mundo!</h1>
  </div>
  <div class="containerCards">
    <div class="cards cardOne"><img src="landing-page/src/img/cards/lamp.png">
      <h1>Ideia inovadora</h1>
      <p>Educação por meio de um protótipo conectado a uma aplicação via Bluetooth.</p>
    </div>
    <div class="cards cardTwo"><img src="landing-page/src/img/cards/edu.png">
      <h1>Projeto de TCC</h1>
      <p>Baseando-se em uma ideia antiga, decidimos melhora-la trazendo tecnologias recentes e design moderno.</p>
    </div>
    <div class="cards cardThree"><img src="landing-page/src/img/cards/code.png">
      <h1>Aprenda a programar</h1>
      <p>Com o Robii, a criança desenvolverá o raciocínio lógico que é o conceito principal da programação.</p>
    </div>
    <div class="cards cardFour"><img src="landing-page/src/img/cards/mobile.png">
      <h1>Educação na Palma da Mão</h1>
      <p>Apenas com um celular Android e muita vontade de aprender, é o necessário para inciar no Robii.</p>
    </div>
  </div>

</section>
