<section id="about-us">
  <h1 class="title-about">Sobre Nós</h1>
  <div class="about-container">
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/TtJFQ4J.jpeg" alt="">
      </div>
      <h1>Tauã Ferreira</h1>
      <p>Como gerente deste projeto, vi a dedicação de cada um e seu empenho. Creio que esse projeto pode chegar muito
        mais longe do que imaginamos. Uma simples ideia, baseada em diversas pesquisas, desenvolvida e testada, é o
        alicerce para um grande projeto, que com toda certeza, foi uma das melhores experiências que experimentei!</p>
    </div>
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/XSeF6Um.jpg" alt="">
      </div>
      <h1>Bruno Patez</h1>
      <p>π² = g</p>
    </div>
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/odVIKAQ.jpeg" alt="">
      </div>
      <h1>Victor Souza</h1>
      <p>Eu vejo o Robii como um inicio de algo grande, algo que pode mudar muitas pessoas assim como ele me mudou... A
        partir do começo desse projeto, descobri minha paixão por programação o que me fez conseguir meu primeiro
        emprego na área, a ideia do Robii é basicamente isso, abrir mentes jovens para realizarem coisas incriveis.</p>
    </div>
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/zm0YfMc.jpeg" alt="">
      </div>
      <h1>Cindy Beatriz</h1>
      <p>Consigo ver um futuro grandioso para o projeto RoBii, todo o seu desenvolvimento foi totalmente pensado em auxiliar grandes futuros desenvolvedores. 
        Mesmo com um começo simples se tornou algo genial, e sem dúvidas inovador com o objetivo de impactar aos programadores</p>
    </div>
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/O2iFpVy.jpeg" alt="">
      </div>
      <h1>Welber Sousa</h1>
      <p>Acredito que eu estava certo ao escolher realizar esse projeto com tanto potencial para ser 
        algo que poderá realmente fazer diferença no futuro. Posso dizer com segurança que me cerquei
        apenas de pessoas talentosas e dedicadas para esse projeto.</p>
    </div>

</section>
