<section id="about-us">
  <h1 class="title-about">Sobre Nós</h1>
  <div class="about-container">
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/TtJFQ4J.jpeg" alt="">
      </div>
      <h1>Tauã Ferreira</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada nisi vel nibh pulvinar, eget sodales
        quam consectetur. Pellentesque imperdiet accumsan magna, ut faucibus purus placerat et. Ut in rutrum lectus. Ut
        vitae massa et dolor semper rhoncus in nec nisl. Quisque hendrerit massa tellus, vitae pretium neque vehicula
        vel. Nam quis facilisis lacus. Sed convallis sodales facilisis. Maecenas placerat leo quis finibus euismod.
        Vestibulum eu nibh sapien.</p>
    </div>
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/XSeF6Um.jpg" alt="">
      </div>
      <h1>Bruno Patez</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada nisi vel nibh pulvinar, eget sodales
        quam consectetur. Pellentesque imperdiet accumsan magna, ut faucibus purus placerat et. Ut in rutrum lectus. Ut
        vitae massa et dolor semper rhoncus in nec nisl. Quisque hendrerit massa tellus, vitae pretium neque vehicula
        vel. Nam quis facilisis lacus. Sed convallis sodales facilisis. Maecenas placerat leo quis finibus euismod.
        Vestibulum eu nibh sapien.</p>
    </div>
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/odVIKAQ.jpeg" alt="">
      </div>
      <h1>Victor de Jesus</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada nisi vel nibh pulvinar, eget sodales
        quam consectetur. Pellentesque imperdiet accumsan magna, ut faucibus purus placerat et. Ut in rutrum lectus. Ut
        vitae massa et dolor semper rhoncus in nec nisl. Quisque hendrerit massa tellus, vitae pretium neque vehicula
        vel. Nam quis facilisis lacus. Sed convallis sodales facilisis. Maecenas placerat leo quis finibus euismod.
        Vestibulum eu nibh sapien.</p>
    </div>
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/zm0YfMc.jpeg" alt="">
      </div>
      <h1>Cindy Beatriz</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada nisi vel nibh pulvinar, eget sodales
        quam consectetur. Pellentesque imperdiet accumsan magna, ut faucibus purus placerat et. Ut in rutrum lectus. Ut
        vitae massa et dolor semper rhoncus in nec nisl. Quisque hendrerit massa tellus, vitae pretium neque vehicula
        vel. Nam quis facilisis lacus. Sed convallis sodales facilisis. Maecenas placerat leo quis finibus euismod.
        Vestibulum eu nibh sapien.</p>
    </div>
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/O2iFpVy.jpeg" alt="">
      </div>
      <h1>Welber José</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada nisi vel nibh pulvinar, eget sodales
        quam consectetur. Pellentesque imperdiet accumsan magna, ut faucibus purus placerat et. Ut in rutrum lectus. Ut
        vitae massa et dolor semper rhoncus in nec nisl. Quisque hendrerit massa tellus, vitae pretium neque vehicula
        vel. Nam quis facilisis lacus. Sed convallis sodales facilisis. Maecenas placerat leo quis finibus euismod.
        Vestibulum eu nibh sapien.</p>
    </div>

</section>
