<section id="about-us">
  <h1 class="title-about">ABOUT US</h1>
  <div class="about-container">
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/E1lgWw8.jpg" alt="">
      </div>
      <h1>Tauã Ferreira</h1>
    </div>
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/XSeF6Um.jpg" alt="">
      </div>
      <h1>Bruno Patez</h1>
    </div>
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/NRdIdHm.jpg" alt="">
      </div>
      <h1>Victor de Jesus</h1>
    </div>
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/7JVAv9q.jpg" alt="">
      </div>
      <h1>Cindy Beatriz</h1>
    </div>
    <div class="avatar">
      <div class="bloco">
        <div class="border-img"></div>
        <img src="https://i.imgur.com/SpYdmMP.jpg" alt="">
      </div>
      <h1>Welber José</h1>
    </div>

</section>
