#about-us {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
.title-about {
  color: var(--gray-dark);
  font-size: 2.5rem;
  margin-top: 5%;
}
.about-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  height: 30vh;
  margin-top: 5%;
  justify-content: space-around;
}
.avatar {
  width: 190px;
  text-align: center;
}
.avatar h1 {
  color: var(--gray-dark);
  margin-top: 5px;
}
.avatar p {
  margin-top: 5%;
  color: var(--gray-dark);
  font-size: 15px;
}
.bloco {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}
.border-img {
  background: linear-gradient(var(--purple) 5%, var(--blue-caparol) 70%);
  width: 85px;
  transform: rotate(20);
  height: 85px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .title-about {
    margin-top: 20%;
  }
}
