<section>
  <div class="container">
    <div class="form-container">
      <div class="undraw-img">
        <img src="src/img/undraw_login_re_4vu2.svg">
      </div>
      <div class="login">
        <div class="login-title">
          <div>
            <a class="back-button" href="../home">
              <img src="src/img/icons8-divisa-circulada-à-esquerda-50.png" alt="">
            </a>
          </div>
          <div class="login-text">
            <h1>Login</h1>
            <p>Entre com sua conta:</p>
          </div>
        </div>
        <form class="inputs">
          <input id="username" placeholder="Username" type="text">
          <input id="password" placeholder="Password" type="password">



          <input type="submit" class="submit" value="Login">

        </form>
      </div>
    </div>
  </div>
</section>
