<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Robii</title>

  <% cssDirectoriesRender.forEach((urlArchive)=> {%>
    <link rel="stylesheet" type="text/css" href="<%= urlArchive %>" />%> <% }) %>

</head>

<body>
  <% htmlDirectoriesRender.forEach((urlArchive)=> {%>
    <%- include( urlArchive.replace('landing-page/', '' )) %>
      <% }) %>

        <% javascriptDirectoriesRender.forEach((urlArchive)=> {%>
          <script src="<%= urlArchive %>"></script>
          <% }) %>

            <script>
              VanillaTilt.init(document.querySelectorAll(".cell"), {
                max: 20,
                speed: 800,
              });
            </script>
</body>

</html>
