<section id="sectionCards">

  <div class="ballThree"></div>
  <div class="titleCards">
    <h1>We are young people who want <br>to change the world!</h1>
  </div>
  <div class="containerCards">
    <div class="cards cardOne"><img src="landing-page/src/img/cards/lamp.png">
      <h1>Innovation idea</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<br>
        sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="cards cardTwo"><img src="landing-page/src/img/cards/edu.png">
      <h1>Project of TCC</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="cards cardThree"><img src="landing-page/src/img/cards/code.png">
      <h1>learn programming</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<br>
        sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="cards cardFour"><img src="landing-page/src/img/cards/mobile.png">
      <h1>educate with cell phone</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<br> et dolore magna aliqua.</p>
    </div>
  </div>

</section>
