<main>
  <div class="ball"></div>
  <div class="ballTwo"></div>
  <div class="filterBlur"></div>

  <section class="section">
    <div class="container">
      <!--   <a class="button-back" href="/home">Home</a> -->
      <img class="svg" src="/form/src/img/undraw_profile_data_re_v81r.svg">

      <div class="form-container">
        <form class="contact-form">
          <div id="title-form">
            <a href="../home" class="icono-arrow1-right"></a>
            <h2>CONTACT</h2>
          </div>

          <input required type="text" id="name" placeholder="Full name"> </br>
          <input required type="email" id="email" placeholder="Email"> </br>
          <input required type="text" id="subject" placeholder="Subject"> </br>
          <p>Data nascimento</p>
          <input required type="date" id="datebirth" placeholderx="data_nascimento"> </br>
          <textarea required id="message" placeholder="Message" cols="30" rows="10"></textarea> </br>
          <input type="submit" class="submit" value="Send Message">

        </form>
      </div>
    </div>
  </section>
</main>
