<main>
  <section class="section">
    <div class="container">


      <div class="form-container">
        <form class="contact-form">
          <h2>CONTATO</h2>

          <input required type="text" id="name" placeholder="Nome Completo"> </br>
          <input required type="email" id="email" placeholder="Email"> </br>
          <input required type="test" id="subject" placeholder="Assunto"> </br>
          <textarea required id="message" placeholder="Messagem" cols="30" rows="10"></textarea> </br>
          <input type="submit" class="submit" value="Enviar mensagem">

        </form>
      </div>
    </div>
  </section>
</main>
