.navBar {
  display: flex;
  position: fixed;
  padding-top: 5px;
  top: 0;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 10vh;
  z-index: 100;
  text-transform: uppercase;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login a {
  width: 80px;
  height: 10px;
  border-radius: 1px;
  border: solid 2px var(--gray-light);
}

.login a:hover {
  background: var(--blue-caparal-light);
}

.logo {
  margin-left: 5%;
}

.logo img {
  width: auto;
  height: auto;
  max-width: 80px;
}

.navBar a {
  color: white;
  text-decoration: none;
}

.navList {
  margin-right: 3%;
  list-style: none;
  right: 0;
  display: flex;
}

.navList li a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: center;
  padding: 20px 20px;
}

.navList.active {
  transform: translateX(0);
}

.mobile-menu {

  display: none;
  cursor: pointer;
  margin-right: 5%;
  z-index: 1;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: white;
  margin: 8px;
  transition: 0.3s;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px)
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px)
}

@media only screen and (max-width: 990px) {
  .navList {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: var(--gray-light);
    backdrop-filter: blur(25px);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 0%;
    transform: translateX(100%);
  }
  .navList li {
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

@media only screen and (max-width: 600px) {}

@keyframes navLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
