<section>
  <div class="container">
    <div class="form-container">
      <div class="agradecimento">
        <div class="agradecimento-title">
          <div>
            <a class="back-button" href="home">
              <img src="thank-you/src/img/icons8-divisa-circulada-à-esquerda-50.png" alt="">
            </a>
          </div>

          <div class="agradecimento-text">
            <h1>Obrigado por nos apoiar nesse projeto!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cum ab veritatis laboriosam enim quisquam illum reiciendis
              odio sit ipsum exercitationem. Sunt numquam rerum quaerat,
              tempore fugit explicabo facilis neque deleniti.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
