.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
}

.undraw-img {
  background-color: #363a46;
  padding: 30% 10% 30% 10%;
}

.undraw-img img {
  width: 100%;
}

.cadastro {
  background-color: #30323f;
  display: flex;
  flex-direction: column;
  padding-top: 8%;
}

.cadastro-title {
  display: flex;
  align-items: center;
  padding: 7% 0% 4% 9%;
}

.cadastro-text {
  margin-left: 5%;
}
