.cadastro-title h1 {
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
}

.cadastro-title p {
  color: white;
  font-size: 0.8em;
  margin: 3% 0% 1% 0%;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inputs input {
  width: 80%;
  padding: 2%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  color: white;
}

.button-cadastro {
  display: flex;
  align-items: center;
}

.button-cadastro a {
  outline: none;
  color: white;
  font-size: 0.8em;
  margin-left: 5%;
}

.submit {
  cursor: pointer;
  min-width: 20%;
  margin: 5% 0% 5% 10%;
  padding: 1%;
  background-color: #454753;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.back-button {
  background-color: transparent;
  cursor: pointer;
}
