table {
  border: 1px #c0c0c0 solid;
  width: 100%;
}
table th {
  background-color: #00f;
  color: #fff;
}
table td {
  background-color: #f0f0f0;
  color: #0c0c0c;
}

.buttonDelete {
  width: 100%;
  background-color: red;

  height: 30px;
}

.buttonDelete:hover {
  background-color: blue;
}
